<html>
  <head>
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='//assets.ahab.io'>
    <%= css :vendor %>
    <%= css :application %>
    <%= head_title %>
  </head>

  <body>
    <%= erb :publish_asset %>
    <div id="flash_messages">
      <% [ :error, :notice ].each do |kind| %>
        <% if message = flash[kind].presence %>
          <div id="flash">
            <div id="<%= kind %>"><%= message %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <header id='page-header' class='full-viewport'>
      <div class='overlay full-viewport'>
        <div class='container_12'>
          <div class='vote-in-rails-rumble push_3 grid_6 suffix_3'>
            You can
            <a class='vote' href='http://railsrumble.com'>vote for us</a>
            in the
            <a class='rumble' href='http://railsrumble.com'>2013 Rails Rumble</a>!
          </div>

          <div class='search grid_5'>
            <img src='/search_glass2x.png' />
            <input type='search' incremental="true" placeholder='Search libraries and assets' />
          </div>

          <%= site_title %>

          <button class='publish call-to-action push_2 grid_3'>Publish Asset</button>
        </div>
      </div>
    </header>

    <div id="search-results">
      <header class="search-top">
        <div class="container_12">
          <div class="grid_5 push_1">
            <h5>DISPLAYING 1 - 40 OF 180 ASSET RESULTS</h5>
          </div>
          <div class="close push_5 grid_1"><a href="#">X</a></div>
        </div>
      </header>
      <section class="search-body"></section>
      <footer class="search-footer">
        <div class="container_12">
          <div class="grid_12">
            <a href="#">DISPLAY 40 - 80 OF 180 ASSET RESULTS...</a>
          </div>
        </div>
      </footer>
    </div>

    <div id='main'>
      <%= yield %>
    </div>

    <footer id='page-footer' class="full-viewport">
      <div class="container_12">
        <div class="grid_6 push_3 suffix_3">
          <%= img 'moby2x.png' %>
        </div>
        <div class='grid_6 push_3 suffix_3'>
          RailsRumble 2013 project by
          <a href='http://zendesk.com'>Zendesk</a>
        </div>
      </div>
    </footer>

    <script id="search-results-tpl" type="text/x-handlebars-template">
      <div class="asset-results container_12">
        <div class="grid_10 push_1">
          <ul>
            {{#results}}
              <li>
                <a href="#">
                  <h4>{{name}} {{version}}</h4>
                  <h5>{{website}}</h5>
                  <p>{{description}}</p>
                </a>
              </li>
            {{/results}}
          </ul>
        </div>
      </div>
    </script>

    <%= js :vendor %>
    <%= js :application %>
  </body>
</html>
